@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px dotted coral; */
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
}

/* root css */

:root {
    --primary-color: #22577A;
    --secondary-color: #38A3A5;
    --accent-color: #80ED99;
    --light-color: #ffffff;
    --dark-color: #000000;
    --font-1: 1rem;
    --font-2: 1.35rem;
    --font-3: 1.563rem;
    --nav-padding: 60px;
    --family-1: 'Poppins', sans-serif;
    --family-2: 'Source Sans', sans-serif;
}

/* utility classes */

.container {
    padding: 0 10%;
}

section {
    min-height: 80vh;
    width: 100%;
    padding: 0 10%;
    padding-top: calc(var(--nav-padding)*2);
}

/* nav css */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: var(--nav-padding);
    color: var(--light-color);
    transition: all ease 360ms;
    font-size: var(--font-2);
}

nav .logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light-color);
    font-weight: 600;
    border: 2px solid var(--light-color);
    padding: 4px 8px;
}

nav .logo a:hover {
    background: var(--primary-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

nav ul a {
    text-decoration: none;
    color: var(--light-color);
    transition: all ease 3ms;
}

nav ul a:hover {
    color: var(--primary-color);
}

.navbar.sticky {
    background: rgba(0, 0, 0, 1);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0 2px 4px rgba(146, 161, 176, .15);
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--color-primary);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
    border: 1px solid var(--primary-color);
    background: rgba(0, 0, 0, 1);
    box-shadow: 0 2px 4px rgba(146, 161, 176, .15);
    transition: all 0.3s ease;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
    background: var(--primary-color);
    border: 2px solid rgba(0, 0, 0, 1);
}


/* home css */

#home {
    min-height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('/images/hero1.jfif') no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    color: var(--light-color);
    display: flex;
    align-items: center;
}

#home .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content {
    border: 2px solid var(--light-color);
    border-radius: 2px;
    box-shadow: 8px 8px 0px 0px var(--primary-color), 8px 8px 0 2px var(--light-color);
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
}

.text-1 {
    font-size: calc(var(--font-2)*2);
}

.text-2 {
    font-size: calc(var(--font-3)*2);
    font-family: var(--family-1);
    font-weight: 700;
    margin-left: -3px;
    transition: all 0.3s ease;
}

.text-2:hover {
    color: var(--primary-color);
}

.text-3 {
    font-size: calc(var(--font-2)*2);
    margin-bottom: 0.75em;
}

.text-3 span {
    color: var(--primary-color);
    font-weight: 600;
}

.socials {
    display: flex;
    gap: 1.5em;
}

.home-link .fab {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 8px;
    font-size: calc(var(--font-2)*2);
    border: 2px solid var(--dark-color);
    border-radius: 2px;
    box-shadow: 4px 4px 0px 0px var(--primary-color), 4px 4px 0 1px var(--light-color);
    transition: all 0.3s ease;
}

.home-link .fab:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 2px;
    box-shadow: 4px 4px 0px 0px var(--light-color), 4px 4px 0 1px var(--dark-color);
    transform: scale(1.15);
}

/* about css */

#about {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) );
}

.title {
    color: var(--primary-color);
    font-size: calc(var(--font-3)*1.5);
    border-bottom: 2px solid var(--light-color);
    font-weight: 600;
}

.about-content {
    color: var(--light-color);
    display: flex;
    gap: 1em;
    padding: 2em;
}

.about-content img {
    max-width: 80%;
    border-radius: 50%;
}

.column-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.column-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.text {
    font-size: var(--font-3);
    font-weight: 600;
    color: var(--accent-color);
}

.typing-2 {
    font-weight: 700;
    color: var(--primary-color);
}

.ptext-1 {
    font-size: var(--font-2);
}

.ptext-2 {
    font-size: var(--font-2);
    color: var(--accent-color);
}

.highlight {
    color: var(--primary-color);
}

.highlight a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.highlight a:hover {
    background: var(--primary-color);
    color: var(--light-color);
}

.column-right p span {
    font-weight: 600;
}

.about-content .socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content .socials a {
    font-size: var(--font-3);
    color: var(--accent-color);
    transition: all 0.3s ease;
}

.about-content .socials a:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

/* skills css */

#skills {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 1) );
}

.skills-content {
    border-top: 1px solid var(--light-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    /* background: white;
    box-shadow: 8px 8px 0px 0px aqua, 8px 8px 0 1px aqua; */
}

.grid {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(2, 100px);
    grid-auto-flow: column;
}

.grid-item {
    color: var(--dark-color);
    border-radius: 2px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: var(--font-2);
}

.skills-content p {
    font-size: var(--font-2);
}

.bx {
    font-size: 2em;
}

.grid-item:hover {
    background: black;
    color: white;
}

.language {
    color: var(--primary-color);
}

.frame {
    color: var(--secondary-color);
}

.tool {
    color: var(--secondary-color);
}

.ptext-3 {
    font-size: var(--font-1);
}


@media (max-width: 700px) {
    /* nav responsiveness */
    .menu {
        position: absolute;
        right: -100%;
    }

    /* about responsiveness */
    .about-content {
        flex-direction: column;
    }

    /* skills responsiveness */
    .grid {
        width: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(8, 100px);
        grid-auto-flow: column;
    }

}