.bgimg {
    background-color: #84afe6;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color1 {
    background-color: #b7d3f2;
}

.color2 {
    background-color: #afafdc;
}

.edit {
    background-color: cornflowerblue;
}

.component {
    height: 65vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
    padding: 1em;
    width: 65%;
    color: black;
}

.footer {
    height: 30vh;
}